/* Code css by @Vanio_Lines*/

*{
    border: 0px solid black;
}

@font-face {
    font-family: 'AlfaSlabOne';
    src: url('assets/fonts/AlfaSlabOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BebasNeue';
    src: url('assets/fonts/BebasNeue-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'BebasNeueBold';
    src: url('assets/fonts/BebasNeue\ Bold.otf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratBold';
    src: url('assets/fonts/Montserrat-Bold.otf');
}

body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    scrollbar-width: none;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    display: inline-block;
    scale: 1;
}
a:hover{
    transform: scale(1.1);
    transition: transform .1s ease-in;
}
a:active{
    transform: scale(1.08);
    transition: transform .05s ease-in;
}
header{
    background-image: url(assets/Logo/backgroundHeader.png);
}

@media screen and (max-width: 320px) {
    header{
        width: 100%;
    }
    nav{
        margin: 1%;
        display: flex;
        position: relative;
    }
    nav>div{
        display: inline-block;
    }
    img{
        width: 100%;
    }
    .leftContainer{
        width: 50%;
    }
    .rightContainer{
        width: 50%;
    }
    .rightContainerItem1{
        display: flex;
        font-family: 'MontserratBold',arial,serif;
        text-align: center;
    }
    .rightContainerItem1 span{
        display: inline-block;
        margin-top: 3%;
    }
    .logoContainer{
        width: 95%;
    }
    .motoLogoContainer{
        display: inline-block;
        width: 40%;
        margin-left: 4%;
    }
    .deliveryContactContainer{
        font-size: 12px;
    }
    
    .menuContainer{
        padding: 0% 5%;
        margin-top: 1%;
        overflow: hidden;
        height: 24px;
    }
    .menuContainer:hover, .menuContainer:active{
        height: 55px;
        transition: height .2s ease-in;
    }
    menu{
        margin: 0%;
        padding: 0%;
    }
    .menuBtnContainer{
        padding: 0%;
        display: block;
        text-align: center;
        scale: 1.3 1;
    }
    .menuBtnContainer a{
        box-shadow: 0px 0px 2.5px .01px rgb(37, 36, 36);
        padding: .5%;
        margin: 1%;
        border-radius: 1px;
        rotate: 0.25turn;
    }
    .menuBtnContainer a:hover{
        transform: rotate(-.25turn);
        transition: transform .25s ease-out;
    }
    .menuBtnContainer>a>span{
        display: block;
        width: 15px;
        height: 3px;
        padding: 0px;
        margin: 5% 0%;
        background: black;
        border-radius: 5px;
    }
    .menuItemContainer{
        border-top: 1px solid rgba(165, 42, 42, 0.336);
        border-bottom: 1px solid rgba(165, 42, 42, 0.336);
        margin: 1% 0%;
        display: flex;
        justify-content: space-between;
    }
    .menuItemContainer span{
        margin-top: 1.5%;
    }
    menu a{
        font-family: 'BebasNeueBold',arial,serif;
        color: #3d2514;
    }

    .headerSecondRow{
        width: 100;
        padding: 3%;
        display: flex;
    }
    .headerSecondRow>article{
        width: 50%;
    }
    .itIsAGoodTime{
        font-size: 10px;
    }
    .titleBurger{
        font-size: 35px;
    }
    .titleWeek{
        font-size: 20;
    }
    .headerSecondRowItem2{
        position: relative;
    }
    .burgerFritesDrinkContainer{
        width: 80%;
    }
    .priceImgContainer{
        width: 25%;
        position: absolute;
        translate: 60% -75%;
        z-index: 2;
    }
    .burgerFritesDrinkShadowContainer{
        width: 80%;
    }
    
    main{
        width: 90%;
        margin: auto;
    }
    .mainLine1{
        width: 100%;
        display: flex;
        flex-direction: column;
        color: white;
    }
    .mainLine1 img{
        height: 100%
    }
    .mainLine1Row1{
        margin: 2% 1%;
        padding: -1% -1%;
    }
    .mainLine1Row2{
        margin: 2% 1%;
        padding: -1% -1%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .mainLine1Row2 img{
        height: 100%;
        scale: 1 .97;
    }
    .pr{
        position: relative;
    }
    .pa{
        position: absolute;
    }
    .testOutsider{
        top: 0%;
        margin-top: 2.5%;
        margin-left: 2.5%;
        font-size: 12px;
    }
    .outsiderTextBig{
        font-size: 18px;
    }
    .card{
        box-shadow: 0px 0px 8px 1px rgba(134, 133, 133, 0.6);
        border-radius: 5px;
    }
  }