/* Code css by @Vanio_Lines*/

*{
    border: 0px solid black;
}

@font-face {
    font-family: 'AlfaSlabOne';
    src: url('assets/fonts/AlfaSlabOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BebasNeue';
    src: url('assets/fonts/BebasNeue-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'BebasNeueBold';
    src: url('assets/fonts/BebasNeue\ Bold.otf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratBold';
    src: url('assets/fonts/Montserrat-Bold.otf');
}

body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    scrollbar-width: none;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    display: inline-block;
    scale: 1;
}
a:hover{
    transform: scale(1.1);
    transition: transform .1s ease-in;
}
a:active{
    transform: scale(1.08);
    transition: transform .05s ease-in;
}
header{
    background-image: url(assets/Logo/backgroundHeader.png);
}
button{
    border: none;
    background: transparent;
}

@media screen and (max-width: 320px) {
    header{
        width: 100%;
    }
    nav{
        margin: 1%;
        display: flex;
        position: relative;
    }
    nav>div{
        display: inline-block;
    }
    img{
        width: 100%;
    }
    .leftContainer{
        width: 50%;
    }
    .rightContainer{
        width: 50%;
    }
    .rightContainerItem1{
        display: flex;
        font-family: 'MontserratBold',arial,serif;
        text-align: center;
    }
    .rightContainerItem1 span{
        display: inline-block;
        margin-top: 3%;
    }
    .logoContainer{
        width: 95%;
    }
    .motoLogoContainer{
        display: inline-block;
        width: 40%;
        margin-left: 4%;
    }
    .deliveryContactContainer{
        font-size: 12px;
    }
    
    .menuContainer{
        padding: 0% 5%;
        overflow: hidden;
        height: 20px;
        width: 0%;
        margin: 1% auto;
        translate: -30% 0%;
    }
    .menuContainer:hover, .menuContainer:active{
        height: 55px;
        width: 90%;
        translate: 0% 0%;
        margin: 1% 0%;
        transition: height .2s ease-in;
    }
    menu{
        margin: 0%;
        padding: 0%;
    }
    .menuBtnContainer{
        padding: 0%;
        display: block;
        text-align: center;
        scale: 1.3 1;
    }
    .menuBtnContainer a{
        box-shadow: 0px 0px 2.5px .01px rgb(37, 36, 36);
        padding: .5%;
        margin: 1%;
        border-radius: 1px;
        rotate: 0.25turn;
    }
    .menuBtnContainer a:hover{
        transform: rotate(-.25turn);
        transition: transform .25s ease-out;
    }
    .menuBtnContainer>a>span{
        display: block;
        width: 15px;
        height: 3px;
        padding: 0px;
        margin: 5% 0%;
        background: black;
        border-radius: 5px;
    }
    .menuItemContainer{
        border-top: 1px solid rgba(165, 42, 42, 0.336);
        border-bottom: 1px solid rgba(165, 42, 42, 0.336);
        margin: 1% 0%;
        display: flex;
        justify-content: space-between;
    }
    .menuItemContainer span{
        margin-top: 1.5%;
    }
    menu a{
        font-family: 'BebasNeueBold',arial,serif;
        color: #3d2514;
    }

    .headerSecondRow{
        width: 100;
        padding: 3%;
        display: flex;
    }
    .headerSecondRow>article{
        width: 50%;
    }
    .itIsAGoodTime{
        font-size: 10px;
    }
    .titleBurger{
        font-size: 35px;
    }
    .titleWeek{
        font-size: 20;
    }
    .headerSecondRowItem2{
        position: relative;
    }
    .burgerFritesDrinkContainer{
        width: 80%;
    }
    .priceImgContainer{
        width: 25%;
        position: absolute;
        translate: 60% -75%;
        z-index: 2;
    }
    .burgerFritesDrinkShadowContainer{
        width: 80%;
    }
    
    main{
        width: 90%;
        margin: auto;
    }
    .mainLine1{
        width: 100%;
        margin-top: 4%;
        display: flex;
        flex-direction: column;
        color: white;
    }
    .mainLine1 img{
        height: 100%
    }
    .mainLine1Row1{
        margin: 2% 1%;
        padding: -1% -1%;
    }
    .mainLine1Row2{
        margin: 2% 1%;
        padding: -1% -1%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .mainLine1Row2 img{
        height: 100%;
        scale: 1 .97;
    }
    .prMin320{
        position: relative;
    }
    .paMin320{
        position: absolute;
    }
    .testOutsider{
        top: 0%;
        margin-top: 2.5%;
        margin-left: 2.5%;
        font-size: 12px;
    }
    .outsiderTextBig{
        font-size: 18px;
    }
    .cardMin320{
        box-shadow: 0px 0px 8px 1px rgba(134, 133, 133, 0.6);
        border-radius: 5px;
    }

    .mainLine2{
        width: 100%;
    }
    .mainLine2>div{
        text-align: center;
        margin: 5% 0%;
    }
    .mL2Item>span{
        margin: 2%;
        padding: 2%;
        background: #ffc135;
    }
    .mL2Item2{
        color: #41200c;
    }
    .mL2Item3{
        color: #442108;
    }
    
    .mainLine3>article{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 10%;
        padding: 4% 0%;
    }
    .mainLine3>article:nth-child(2)>img{
        width: 70%;
        margin: auto;
    }
    .mainLine3>article h2{
        color: #412009;
    }
    .mainLine3>article h2+span{
        color: #3c210f;
    }
    .mainLine3>article>div:last-child{
        margin: 5% 0%;
    }
    .mainLine3>article button{
        color: linen;
        background: #e01d1e;
        padding: 5% 15%;
        font-weight: bold;
        border-radius: 2px;
    }

    .mainLine4{
        padding: 4%;
    }
    .mL4Item1{
        margin-bottom: 5%;
    }
    .mL4Item1>div:first-child{
        font-size: 15px;
        margin-bottom: 1%;
    }
    .mL4Item1>div:nth-child(2){
        font-size: 25px;
        margin-bottom: 5%;
    }
    .mL4Item1>div:last-child{
        font-size: 12px;
    }
    .mL4Item2{
        margin-bottom: 2%;
    }
    .mL4Item2>span{
        display: inline-block;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: #dddddd;
    }
    .mL4Item2>span:first-child{
        background: #ffc135;
    }

    .mainLine5{
        margin: 10% 0%;
        position: relative;
    }
    .mL5Item1-2Container div,.mL5Item4 div{
        position: absolute;
    }
    .ml5Item1{
        top: 4%;
        left: 5%;
        width: 20%;
    }
    .ml5Item2{
        top: 4%;
        right: 13%;
        width: 5%;
        rotate: -.05turn
    }
    .mL5Item3{
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .ml5Item3Title1{
        padding-top: 10%;
        margin-left: 5%;
        color: #441f0a;
        font-size: x-small;
    }
    .ml5Item3Title2{
        padding-top: 2%;
        margin-left: 5%;
        font-weight: bold;
        color: #441f0a;
    }
    .mL5Item4 div{
        top: 42.5%;
        left: 35%;
        right: 35%;
        z-index: -1;
        opacity: .8;
    }
    .ml5Item3FormContainer form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 6%;
        padding-bottom: 6%;

    }
    .ml5Item3FormContainer form div{
        display: flex;
        justify-content: space-between;
    }
    .ml5Item3FormContainer form div input,
    .ml5Item3FormContainer form button{
        background: transparent;
        width: 50%;
        height: 25px;
        margin: 1%;
        border: 1px solid gray;
        border-radius: 2.5px;
        font-weight: bold;
        font-size: 10px;
    }
    .ml5Item3FormContainer form button{
        height: 28px;
        width: 52.5%;
        color: linen;
        background: #e01d1e;
        border: none;

    }
  }